/deep/ .mat-input-element:disabled {
  color: black !important;
}

/deep/ .mat-form-field-label {
  color: black !important;
}

.tableDiv {
  width: 100%;
}

.titleDiv {
  padding-bottom: 20px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.detailDiv {
  /*width: 50%;*/
  /*justify-content: center;*/
  display: flex;
  flex-wrap: wrap;
}

.backButton {
  margin-bottom: 20px;
}

/deep/ .mat-form-field--no-underline .mat-form-field-underline {
  background-color: transparent !important;
}

mat-form-field {
  /*margin-right: 32px;*/
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

mat-card {
  width: 100%;
  margin: 0 auto 16px;
}

@media screen and (min-width: 576px) {
  mat-card {
    width: 90%;
  }

  mat-form-field {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  mat-card {
    width: 75%;
  }

  mat-form-field {
    width: 33.333333%;
  }
}

@media screen and (min-width: 960px) {
  mat-card {
    width: 50%;
  }
}

.approve {
  background-color: #5cb85c;
  color: white;
}

.deny {
  background-color: #d9534f;
  color: white;
}

.buttons {
  padding: 0 .75em 0 .75em;
}

.deny, .approve {
  /*font-size: 1.3em;*/
  /*padding-top: .3em;*/
  /*padding-bottom: .3em;*/
  margin-bottom: 10px;
  margin-right: 16px;
}

/deep/ .comment .mat-form-field-wrapper {
  padding-bottom: 0;
}
