<div class="example-container detailDiv" *ngIf="declaration">
  <mat-card>
    <mat-card-title>Details</mat-card-title>
    <mat-card-content>
      <table class="tableDiv">
        <tr>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Category:</mat-label>
              <input matInput [ngModel]="declaration.category.name" placeholder="Input" [disabled]="disabled">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline">
              <mat-label>Banknumber:</mat-label>
              <input matInput [ngModel]="declaration.user.bankAccount" placeholder="Input" [disabled]="disabled">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline" floatLabel="always" class="mat-form-field--no-underline">
              <mat-label>Kosten gemaakt in buitenland?</mat-label>
              <input matInput [ngModel]="declaration.inForeignCountry" placeholder="Input" [disabled]="disabled">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field appearance="outline" floatLabel="always" class="mat-form-field--no-underline">
              <mat-label>Doorbelasten klant?</mat-label>
              <input matInput [ngModel]="declaration.chargeCustomer" placeholder="Input" [disabled]="disabled">
            </mat-form-field>
          </td>
        </tr>
      </table>
      <mat-form-field appearance="outline">
        <mat-label>Motivatie:</mat-label>
        <textarea matInput [ngModel]="declaration.description" placeholder="Input" [disabled]="disabled"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Files:</mat-label>
        <input matInput [ngModel]="declaration.files" placeholder="Input" [disabled]="disabled">
      </mat-form-field>

      <app-status-update [statusUpdate]="declaration.statusUpdates"></app-status-update>

      <ng-container *ngIf="isManager">
        <mat-form-field>
          <mat-label>Approve</mat-label>
          <mat-select>
            <mat-option *ngFor="let status of selectOptions" (click)="onChange(status)" [value]="status">
              {{status}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>

      <div mat-dialog-actions class="backButton" align="left">
        <button mat-raised-button align="left" class="createbutton" (click)="backToList()">Back</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
