<div class="title">Kopregels</div>
<mat-form-field class="month" floatLabel="always">
  <mat-label>Maand</mat-label>
  <input [value]="month()" matInput disabled/>
  <mat-error>Je moet een datum invullen</mat-error>
</mat-form-field>
<mat-form-field class="year" floatLabel="always">
  <mat-label>Jaar</mat-label>
  <input [value]="year()" matInput disabled/>
</mat-form-field>

<div *ngFor="let row of parkingRows">
  <form [formGroup]="row.form" class="parking-row">
    <mat-form-field>
      <mat-label>Factuurdatum</mat-label>
      <input formControlName="date" matInput [matDatepickerFilter]="noFutureDateFilter" [matDatepicker]="picker"
             disabled="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker [disabled]="disabled"></mat-datepicker>
      <mat-error *ngIf="row.form?.controls?.date?.errors?.required">Je moet een datum invullen</mat-error>
    </mat-form-field>
    <mat-form-field class="day">
      <mat-label>Dag</mat-label>
      <input matInput [value]="row.getDayName()" disabled/>
    </mat-form-field>
    <mat-form-field class="grow">
      <mat-label>Omschrijving</mat-label>
      <input [disabled]="disabled" matInput formControlName="description"/>
      <mat-error *ngIf="row.form?.controls?.description?.errors?.required">Je moet een beschrijving geven</mat-error>
    </mat-form-field>
    <mat-form-field class="money">
      <mat-label>Gedecl. bedrag</mat-label>
      <input [disabled]="disabled" matInput currencyMask formControlName="money"/>
      <mat-error *ngIf="row.form?.controls?.money?.errors?.required">Je moet een bedrag invullen</mat-error>
    </mat-form-field>
    <button mat-icon-button color="primary" *ngIf="parkingRows.length > 1 && !disabled" (click)="removeRow(row)">
      <mat-icon>close</mat-icon>
    </button>
  </form>
</div>
<div class="row-actions">
  <button *ngIf="!disabled" mat-flat-button color="primary" (click)="addRow()">Nieuwe rij</button>
  <div class="spacer"></div>
  <mat-form-field class="money" floatLabel="always">
    <mat-label>Totaal bedrag</mat-label>
    <input [value]="totalAmount()" matInput currencyMask disabled/>
  </mat-form-field>
</div>
